body {
    margin-bottom:50px;
}
nav .txt {
	display: flex;
	justify-content: center;
}
ul {
	list-style: none;
	display: flex;
    background-color: aquamarine;
    background-position: center;
    font-family: sans-serif;
}

li {
	margin: 0 10px;
    padding: 20px 20px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

a {
	text-decoration: none;
	color: black;
    font-size: 20px;
    height: 40%;
    position: relative;

}

.container {
    text-align: center;
  }
  
  img {
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Resize the image to cover the entire element */
    background-position: center; /* Center the image horizontally and vertically */
    background-color: #ccc;
    margin: auto;
    width: 80%;
    height: 30%;
  }
  
 .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container img {
    display: block;
    max-width: 15%;
    margin: 0 10px;
  }

.txt{
    text-align: center;
    text-decoration: solid;
    color: blue;
  }
  .footer {
    position: relative;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
      
footer {
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #ccc;
    margin-top: 50px;
    padding-top: 20px;
  }
  
.column {
    width: 33.33%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h3 {
    margin-top: 0;
  }
  
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ol li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
  }
  
  a:hover {
    color: #d9534f;
  }
  